
.non-valid{
  color:black;
}
.app{
  margin-top: 7vh;
  background-size: 100%;
  background-color:  rgba(20, 200, 220, 0.793);;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 7vh;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.mb-3{
 
  margin-top: 5vh;
}
.btn{
 
  margin-top: 3vh;
  border-color:  black;
  border-style: solid;
  border-width: 2px;

}
.container{
  color:black;
  margin-left: 3vw;
  
}
.name{
color: black;
border-color:  black;
  border-style: solid;
  
}
